AddDefaultCharset utf-8

RewriteEngine on
#//любой запрос будет перенаправлен на указанный ниже (по сути любой наш запрос мы можем делать тригеря бекенд логику, но всегда возвращаясь к основному фаилу индекс пхп)
RewriteBase /

RewriteRule ^(.*)$ index.php